# Slack
APP_TOKEN=
BOT_TOKEN=
SLACK_CHANNEL=test_madden_bot

#DB
DATABASE_URL=postgresql+psycopg://madden:madden@localhost:5432/madden
TEST_DATABASE_URL=postgresql+psycopg://madden:madden@localhost:5432/madden_test

#ROUTES
SYNC_ENDPOINT=http://127.0.0.1:5000/sync_league
SYNC_INTERVAL=3600